* {
    padding: 0;
    margin: 0;
  }
  
  body {
    color: #263238;
  }

  nav {
    display: flex; /* 1 */
    justify-content: space-between; /* 2 */
    padding: 1rem 2rem; /* 3 */
    background: #cfd8dc; /* 4 */
  }

  h2{
    font-size: 30px;
  }
  
  nav ul {
    display: flex; /* 5 */
    list-style: none; /* 6 */
    align-items: center;

  }
  
  nav li {
    align-items: center;
    padding-left: 1rem; /* 7! */
  }


  nav a {
    text-decoration: none;
    color: #0d47a1
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    top:30px;
    border-radius: 10px;
    right: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    color:#1ab79d;
    border-radius: 10px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  @media only screen and (max-width: 600px) {
    nav {
      flex-direction: column;
    }
    nav ul {
      flex-direction: column;
      padding-top: 0.5rem;
    }
    nav li {
      padding: 0.5rem 0;
    }
  } 